@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Library</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the Virtual Library</h2>
        <p>
            The virtual library provides the user the ability to list and manage all the libraries available 
            in the repository.
        </p>
        <p><a class="btn btn-default" href="~/Book/Index/">View more &raquo;</a></p>
    </div>
</div>